click>=6.7                                    # https://github.com/pallets/click
PyYaml>=5.1                                   # https://github.com/yaml/pyyaml
tzlocal==2.0.0                                # https://github.com/regebro/tzlocal
requests>=2.18.4                              # https://github.com/psf/requests
jsondiff2>=1.2.3                              # https://github.com/edoreld/jsondiff
inspect2>=0.1.2                               # https://github.com/JelleZijlstra/inspect2
jinja2>=2.11                                  # https://github.com/pallets/jinja
# ---- Purposely unpinned ----
boto3>=1.17                                   # https://github.com/boto/boto3

# Packaging
# ------------------------------------------------------------------------------
bumpversion==0.5.3                            # https://github.com/peritus/bumpversion
twine                                         # https://github.com/pypa/twine/
tox                                           # https://github.com/tox-dev/to
wheel                                         # https://github.com/pypa/wheel
Sphinx                                        # https://github.com/sphinx-doc/sphinx
sphinx-autobuild                              # https://github.com/GaretJax/sphinx-autobuild
sphinx-click                                  # https://github.com/click-contrib/sphinx-click
sphinx_rtd_theme                              # https://github.com/readthedocs/sphinx_rtd_theme

# Development
# ------------------------------------------------------------------------------
pydevd-pycharm~=192.6817.19                   # https://github.com/JetBrains/intellij-community
autopep8==0.8                                 # https://github.com/hhatto/autopep8
flake8==3.7.5                                 # https://github.com/PyCQA/flake8
pycodestyle==2.5.0                            # https://github.com/PyCQA/pycodestyle
mypy==0.701                                   # https://github.com/python/mypy

# Testing
# ------------------------------------------------------------------------------
testfixtures==6.10.0                          # https://github.com/Simplistix/testfixtures
mock==3.0.5                                   # https://github.com/testing-cabal/mock
nose==1.3.7                                   # https://github.com/nose-devs/nose

# Other utils
# ------------------------------------------------------------------------------
colorama==0.3.7                               # https://github.com/tartley/colorama
ipython==7.1.0                                # https://github.com/ipython/ipython
