{% from 'macros/secrets.jinja2' import secrets_table -%}
{% include 'detail--standalonetask--short.jinja2' %}
{%- if includes is not defined or ('secrets' in includes and obj.secrets) %}
{% filter section_title(fg='cyan', bold=True) %}Secrets{% endfilter %}
{{ secrets_table(obj.secrets.values()) }}
{% endif -%}
