{% from 'macros/utils-plan.jinja2' import diff_sym, render_diff %}
{# Now call the macro to loop through the changes #}
{% filter color(fg='green') %}Service: {% endfilter %}{{ obj.pk|color(fg='cyan', bold=True) }}
{% if debug %}{% filter color(fg='yellow') %}Debugging...{% endfilter %}{% endif%}
{{ render_diff(aws_json, changes, 'services.' + obj.pk, "", None, debug) }}

Run update command to apply changes:

  deploy update {{ obj.name }}
